In [14]:
import pandas as pd
import numpy as np

In [15]:
median_income_dict = {
    "Alexandria": 80847,
    "Amherst": 44757,
    "Arlington": 94880,
    "Augusta": 50612,
    "Bedford": 54110,
    "Botetourt": 64724,
    "Fairfax": 105416,
    "Falls Church": 114409,
    "Prince William": 91098,
}

median_income_dict

{'Alexandria': 80847,
 'Amherst': 44757,
 'Arlington': 94880,
 'Augusta': 50612,
 'Bedford': 54110,
 'Botetourt': 64724,
 'Fairfax': 105416,
 'Falls Church': 114409,
 'Prince William': 91098}

In [16]:
median_income_dict['Amherst']

44757

In [17]:
median_income_series = pd.Series(median_income_dict, dtype=np.int32)

median_income_series

Alexandria         80847
Amherst            44757
Arlington          94880
Augusta            50612
Bedford            54110
Botetourt          64724
Fairfax           105416
Falls Church      114409
Prince William     91098
dtype: int32

In [18]:
median_income_series.head()

Alexandria    80847
Amherst       44757
Arlington     94880
Augusta       50612
Bedford       54110
dtype: int32

In [19]:
median_income_series.head(3)

Alexandria    80847
Amherst       44757
Arlington     94880
dtype: int32

In [20]:
median_income_series.tail()

Bedford            54110
Botetourt          64724
Fairfax           105416
Falls Church      114409
Prince William     91098
dtype: int32

In [21]:
median_income_series.tail(3)

Fairfax           105416
Falls Church      114409
Prince William     91098
dtype: int32

In [22]:
median_income_series.index

Index(['Alexandria', 'Amherst', 'Arlington', 'Augusta', 'Bedford', 'Botetourt',
       'Fairfax', 'Falls Church', 'Prince William'],
      dtype='object')

In [23]:
median_income_series.values

array([ 80847,  44757,  94880,  50612,  54110,  64724, 105416, 114409,
        91098])

In [24]:
type(median_income_series.values)

numpy.ndarray

In [25]:
median_income_series["Amherst"]

44757

In [26]:
median_income_series[ [ "Amherst" ]]

Amherst    44757
dtype: int32

In [27]:
median_income_series["Amherst":"Bedford"]

Amherst      44757
Arlington    94880
Augusta      50612
Bedford      54110
dtype: int32

In [28]:
median_income_series[1]

44757

In [29]:
median_income_series[1:3]

Amherst      44757
Arlington    94880
dtype: int32

In [30]:
median_income_series[ [1, 2] ]

Amherst      44757
Arlington    94880
dtype: int32

In [31]:
median_income_series.iloc[1]

44757

In [32]:
median_income_series.loc['Amherst']

44757

In [33]:
median_income_series.shape

(9,)

In [34]:
households_dict = {
    "Alexandria": 68082,
    "Amherst": 12560,
    "Arlington": 98050,
    "Augusta": 28516,
    "Bedford": 27465,
    "Botetourt": 13126,
    "Fairfax": 391627,
    "Falls Church":	5101,
    "Prince William": 130785,
}

households_series = pd.Series(households_dict)

households_series

Alexandria         68082
Amherst            12560
Arlington          98050
Augusta            28516
Bedford            27465
Botetourt          13126
Fairfax           391627
Falls Church        5101
Prince William    130785
dtype: int64

In [35]:
counties = pd.DataFrame({
    "median_income": median_income_series,
    "households": households_series
})

counties

                median_income  households
Alexandria              80847       68082
Amherst                 44757       12560
Arlington               94880       98050
Augusta                 50612       28516
Bedford                 54110       27465
Botetourt               64724       13126
Fairfax                105416      391627
Falls Church           114409        5101
Prince William          91098      130785

In [36]:
counties.columns

Index(['median_income', 'households'], dtype='object')

In [37]:
counties.index

Index(['Alexandria', 'Amherst', 'Arlington', 'Augusta', 'Bedford', 'Botetourt',
       'Fairfax', 'Falls Church', 'Prince William'],
      dtype='object')

In [38]:
counties.values

array([[ 80847,  68082],
       [ 44757,  12560],
       [ 94880,  98050],
       [ 50612,  28516],
       [ 54110,  27465],
       [ 64724,  13126],
       [105416, 391627],
       [114409,   5101],
       [ 91098, 130785]], dtype=int64)

In [39]:
a = counties.values
b = counties.values

print(id(a) == id(b))
print(a.shape)
print(b.shape)

False
(9, 2)
(9, 2)

In [40]:
a[0,0] = 999

In [41]:
a[0,0]

999

In [42]:
b[0,0]

80847

In [43]:
counties.columns = [ "Median Income", "Households" ]

counties

                Median Income  Households
Alexandria              80847       68082
Amherst                 44757       12560
Arlington               94880       98050
Augusta                 50612       28516
Bedford                 54110       27465
Botetourt               64724       13126
Fairfax                105416      391627
Falls Church           114409        5101
Prince William          91098      130785

In [44]:
counties2 = counties.stack()

counties2

Alexandria      Median Income     80847
                Households        68082
Amherst         Median Income     44757
                Households        12560
Arlington       Median Income     94880
                Households        98050
Augusta         Median Income     50612
                Households        28516
Bedford         Median Income     54110
                Households        27465
Botetourt       Median Income     64724
                Households        13126
Fairfax         Median Income    105416
                Households       391627
Falls Church    Median Income    114409
                Households         5101
Prince William  Median Income     91098
                Households       130785
dtype: int64

In [45]:
type(counties2)

pandas.core.series.Series

In [46]:
counties2.index

MultiIndex([(    'Alexandria', 'Median Income'),
            (    'Alexandria',    'Households'),
            (       'Amherst', 'Median Income'),
            (       'Amherst',    'Households'),
            (     'Arlington', 'Median Income'),
            (     'Arlington',    'Households'),
            (       'Augusta', 'Median Income'),
            (       'Augusta',    'Households'),
            (       'Bedford', 'Median Income'),
            (       'Bedford',    'Households'),
            (     'Botetourt', 'Median Income'),
            (     'Botetourt',    'Households'),
            (       'Fairfax', 'Median Income'),
            (       'Fairfax',    'Households'),
            (  'Falls Church', 'Median Income'),
            (  'Falls Church',    'Households'),
            ('Prince William', 'Median Income'),
            ('Prince William',    'Households')],
           )

In [47]:
counties2 = counties2.unstack()

counties2

                Median Income  Households
Alexandria              80847       68082
Amherst                 44757       12560
Arlington               94880       98050
Augusta                 50612       28516
Bedford                 54110       27465
Botetourt               64724       13126
Fairfax                105416      391627
Falls Church           114409        5101
Prince William          91098      130785

In [48]:
counties2 = counties2.unstack(0)

counties2

Median Income  Alexandria         80847
               Amherst            44757
               Arlington          94880
               Augusta            50612
               Bedford            54110
               Botetourt          64724
               Fairfax           105416
               Falls Church      114409
               Prince William     91098
Households     Alexandria         68082
               Amherst            12560
               Arlington          98050
               Augusta            28516
               Bedford            27465
               Botetourt          13126
               Fairfax           391627
               Falls Church        5101
               Prince William    130785
dtype: int64

In [49]:
counties2["Alexandria"]

KeyError: 'Alexandria'

In [ ]:
type(counties2["Alexandria"])

In [ ]:
counties2 = counties2.unstack(0)

counties2

In [ ]:
counties2 = counties2.unstack(1)

counties2

In [ ]:
counties2["Median Income"]

In [ ]:
counties2.loc[ ["Amherst", "Augusta" ] ]

In [ ]:
counties2["Amherst":"Augusta"]

In [50]:
counties["Region"] = [
    "Northern",
    "Central",
    "Northern",
    "Central",
    "Central",
    "Southwestern",
    "Northern",
    "Northern",
    "Northern",
]

counties.dtypes

Median Income     int32
Households        int64
Region           object
dtype: object

In [ ]:
counties.values

In [ ]:
counties["Total Household Income"] = counties["Median Income"] * counties["Households"]

counties

In [ ]:
counties.index.name = "County"

counties

In [ ]:
counties.to_csv("counties.csv")

In [ ]:
counties3 = pd.read_csv("counties.csv", index_col=0)

counties3

In [ ]:
wine_data = pd.read_excel("Portuguese_VinhoVerde_RedWine_Quality.xlsx", "data")

wine_data.head()

In [ ]:
wine_data.dtypes

In [ ]:
wine_dtypes = {
    "fixed acidity": np.float32,
    "volatile acidity": np.float32,
    "citric acid": np.float32,
    "residual sugar": np.float32,
    "chlorides": np.float32,
    "free sulfur dioxide": np.int8,
    "total sulfur dioxide": np.int8,
    "density": np.float32,
    "pH": np.float32,
    "sulphates": np.float32,
    "alcohol": np.float32,
    "quality": np.int8,
}


wine_data = pd.read_excel("Portuguese_VinhoVerde_RedWine_Quality.xlsx", "data", dtype=wine_dtypes)

wine_data

In [ ]:
wine_data.dtypes

In [ ]:
wine_data.index

In [ ]:
wine_data.columns

In [ ]:
wine_data.values

In [ ]:
df1 = pd.DataFrame({'A': [0, 0], 'B': [4, 4]})

df2 = pd.DataFrame({'C': [1, 2, 4], 'D': [3, 3, 8]})

display(df1)
display(df2)

In [ ]:
df3 = df1.join(df2, how="right")

display(df3)

In [ ]:
df3.dtypes

In [51]:
df1 = pd.DataFrame({'A': ['A0', 'A0'], 'B': ['B4', 'B4']})

df2 = pd.DataFrame({'C': ['C1', 'C2', 'C4'], 'D': ['D3', 'D3', 'D8']})

display(df1)
display(df2)

    A   B
0  A0  B4
1  A0  B4

    C   D
0  C1  D3
1  C2  D3
2  C4  D8

In [52]:
df3 = df1.join(df2, how="right")

display(df3)

     A    B   C   D
0   A0   B4  C1  D3
1   A0   B4  C2  D3
2  NaN  NaN  C4  D8

In [53]:
df3.dtypes

A    object
B    object
C    object
D    object
dtype: object

In [54]:
df1 = pd.DataFrame({'A': [0, 0], 'B': [4, 4]})
df2 = pd.DataFrame({'A': [1, 1], 'B': [3, 3]})

display(df1)
display(df2)

   A  B
0  0  4
1  0  4

   A  B
0  1  3
1  1  3

In [56]:
df3 = pd.concat([ df1, df2 ])

df3.reset_index(drop=True, inplace=True)

df3

   A  B
0  0  4
1  0  4
2  1  3
3  1  3

In [57]:
pd.DataFrame([ [1, 2], [4, 5] ], columns=["A", "B"])

   A  B
0  1  2
1  4  5